.layout-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: #f8f9fa;
    /* padding: 10px;
    text-align: center; */
}

.main-content {
    display: flex;
    flex: 1;
    overflow: hidden; 
}

.sidebar {
    height: 100%;
    overflow-y: auto; 
    background: white !important;
}

.center {
    background-color: #fff;
    padding: 0px !important;
    height: 100%;
    overflow-y: auto; 
}

@media (max-width: 768px) {
    .sidebar.left {
        display: block !important; 
    }
    
    .center {
        flex: 1 !important; 
    }
}



@media (max-width: 576px) {
    .sidebar.left{
        display: none !important;
    }
}